.page {
    min-width: 280px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    
    font-family: "Montserrat";
    width: 100%;
    background-color: rgba(243, 247, 248, 1);
    min-height: 100vh;
  }